<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interwoven | Story</title>
    <link rel="stylesheet" href="../css/main.css">

</head>

<body>
    <header>
        <nav>
            <img class="logo-2" src="../images/logo-2.png" alt="Interwoven Logo">
            <div>
                <a href="home.html">Home</a>
                <a href="about.html" class="active">About</a>
                <a id="logIn" href="login.html">Login</a>
                <a id="signUp" href="signup.html">Sign Up</a>
            </div>
        </nav>
    </header>
    <main id="story">
        <!-- <div class="front-page">
            <h2>My name is Sonila and this is my story.</h2>

        </div>
        My mother was married at 12 years old.
            My mother lived in the village and all the sisters were very young and married.
            She was 12 and my father was 24 years old.
            She is my father's second wife. The first one was unable to have more than one child—a girl. We lived as one
            family until one year ago when the Taliban killed my father's
            other wife and daughter when they left to the market.
        My mother became pregnant after marriage. She was very young. My father's mother was very cruel to her and
            caused two of my sister's deaths. She would beat my mother while she was pregnant because my mother kept
            having only girls. My grandmother would burn my mother's hand. She would beat her with a stick and my mother
            would not say anything. She would not say anything to anyone because she was pregnant. My mother had 5 girls
            before she had a son— my younger brother. I had six older sisters but 2 of them died. My two sisters were
            injured in my mother's womb by my grandmother. My grandmother used to beat my mother when she was pregnant
            and tell her to give birth to a baby boy but she did not give birth to a boy.
        I grew up poor in Jalalabad, Afghanistan. We lived in what I call the village with my mother, father, and my
            siblings. While I was a child, we lived in Laghman and we moved to Kabul when my father's other wife was
            killed a year ago.
        I went to work when I was little. I was a poor girl because I never played as a kid. I always worked. I
            wanted to help my dad. My father worked for a construction company and one night he was robbed. The thief
            took our car and broke my fathers back. It fell to my mother and myself to provide for the family. My mother
            sewed and made clothes for people and only my mothers and I worked because my father was sick and could not
            work. When I first started working, I picked vegetables from a local farmers field. He would pay me with a
            small amount of vegetables and I remember feeling guilty for eating a tomato on the way home as I was taking
            the earned vegetables to my family. We never had enough money for anything extra growing up. I always
            dreamed of having a doll. I would see other girls with dolls and other toys, but we never had enough. At 7
            years old, I started working in a home for pay and around 9 years old, I started working for a construction
            company doing odd jobs at the construction site and cooking in the kitchen. My childhood was hard, but I
            remember a lot of good times as well. I remember my father taking us to get ice cream during Ramadan. We
            would fast all day and I would beg him to take us for ice cream each night. I remember family member's
            weddings and birthday parties. We would all dress up and spend the nights dancing with all of our family.
        
        The fall of Afghanistan to the Taliban in 2021 was hard on my family. My sister's husband was killed by the
            Taliban in 2020 as he was fighting. He left my sister alone with three kids. My sister's mother-in-law took
            the two older children claiming that my sister was not a good enough mom. She now only has her young
            daughter and lives with my parents. My other sister lives with her husband and two children. She is not
            happy. Her husband has no work because his arm does not work. He was hurt by the Taliban as he was fighting
            in the war. My father also does not have work. He is still unable to work very much from his injuries. No
            one has work and my whole family is scared. 
        In August, we all tried to leave the country. We went to the Kabul airport and the Taliban started harassing
            my father. They said he was a bad man for trying to leave with his family. I stood up for my father and
            talked back to the Taliban. I said, “Why are you telling my father is bad when you do so many bad things.”
            The Taliban beat me when I talked back to them. I have scars from them hitting me. We made it to the Kabul
            airport, but we were in the bombing and I was separated from most of my family. My younger sister and
            brother made it into the airport with me, but my parents, sister, and 6 other siblings fled back to our
            home. My little brother has down-syndrome and a hole in his heart. He is not doing well now that the family
            is not together and it is cold. They do not have enough food to eat. My mother is so worried for us. 
        We are now in the United States, but our future is unsure. I want to be with my family. I want to see my
            Mother come to America. I need help to be reunited with my family, but it feels impossible. We are alone and
            we miss our family.  -->
    </main>
    <script src="../scripts/story.js"></script>
    <script src="../scripts/islogin.js"></script>
</body>

</html>